body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #C0C0C0;
  font-size: 14px;
}

nav ul li{
    display: inline-block;
}

nav ul li {
  margin: 0 20px;
  display: inline-block;
}

nav {
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

div#wrapper{
color: #888;
text-align: center;
}




